* {
    margin: 0;
  }
  .demo {
    /* background: linear-gradient(#FFFFFF, #ADA996); */
    overflow-x: hidden;
  }
  span {
    position: absolute;
    text-align: center;
    font-size: 1rem;
    top: 50%;
  }
  .model {
    background-color: none;
    display: flex;
    align-items: center;
    width: 100%;
  }
  div.userInput {
      height: 0px;
  }
  .buttonAr {
    background-color: white;
    border-radius: 4px;
    border: none;
    position: absolute;
    top: 16px;
    right: 16px;
  }